<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MegaByte</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js" async></script>
     <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.js" async></script>
</head>
<body>
    <div class="ui grid container">
        <nav class="computer tablet only row">
            <div class="ui container">
                <div class="ui inverted violet secondar pointing navbar menu">
                    <a href="/" class="brand item">MegaByte</a>
                    <a href="/" class="item">Home</a>
                    <a href="/meals" class="item">Menu</a>
                    <div class="right menu">
                        <% if (!currentUser) { %>
                            <a href="/login" class="item">Sign In</a>
                            <a href="/register" class="item">Register</a>
                        <% } else { %>
                            <a href="" class="item">Welcome, <%= currentUser.name %>!</a>
                            <a href="/logout" class="item">Logout</a>
                        <% } %>
                    </div>
                </div>
            </div>
        </nav>

        <nav class="mobile only narrow row">
            <div class="ui navbar inverted violet menu" style="width: 100%">
                <a href="/" class="brand item">MegaByte</a>
                <div class="right menu open">
                    <a href="" class="item"><i class="bars icon"></i></a>
                </div>
            </div>
            <div class="ui vertical navbar menu" style="width: 100%;">
                <a href="/" class="active item">Home</a>
                <a href="/meals" class="item">Menu</a>
                    <% if (!currentUser) { %>
                        <a href="/login" class="item">Sign In</a>
                        <a href="/register" class="item">Register</a>
                    <% } else { %>
                        <a href="" class="item">Welcome, <%= currentUser.name %>!</a>
                        <a href="/logout" class="item">Logout</a>
                    <% } %>
            </div>
        </nav>
        
        <div class="ui container">
            <% if (error && error.length > 0) { %>
                <div class="ui negative message">
                    <%= error %> 
                </div>
            <% } %>
             
            <% if (success && success.length > 0) { %>
                <div class="ui positive message">
                    <%= success %> 
                </div>
            <% } %> 
        </div>
    
