<%- include ('partials/header') %> 

<div class="row space">
    <div class="column">
        <div id="jumbotron" class="ui message">
            <h1 class="ui header">
                Welcome To MegaByte
            </h1>
            <p class="parContent">Treat your eyes to a variety of assorted dishes</p>
            <a class="ui violet button" href="/meals/new">Add new dish</a>
        </div>
    </div>
</div>

<div class="row">
    <!-- <%# meals.forEach(meal => {}) %> -->
</div>

<%- include ('partials/footer') %> 