<%- include ('partials/header') %>

<div class="computer only row space">
    <div class="column">
        <h1 style="text-align: center">Login</h1>
        <div style="width: 40%; margin: 0 auto">
            <form class="ui form segment formPadding" action="/login" method="POST">
                <div class="field">
                    <label>Username</label>
                    <input type="text" name="username" placeholder="Username">
                </div>
                <div class="field">
                    <label>Password</label>
                    <input type="password" name="password" placeholder="Password">
                </div>
                <div class="field">
                    <button class="ui teal basic button" type="submit">Login</button>
                </div>
                <div class="ui error message"></div>
            </form>
        </div>
    </div>
</div>

<div class="mobile only row space">
    <div class="column">
        <h1 style="text-align: center">Login</h1>
        <div style="width: 100%; margin: 0 auto 0 auto">
            <form class="ui form segment formPadding" action="/login" method="POST">
                <div class="field">
                    <label>Username</label>
                    <input type="text" name="username" placeholder="Username">
                </div>
                <div class="field">
                    <label>Password</label>
                    <input type="password" name="password" placeholder="Password">
                </div>
                <div class="field">
                    <button class="ui teal basic button" type="submit">Login</button>
                </div>
                <div class="ui error message"></div>
            </form>
        </div>
    </div>
</div>

<div class="tablet only row space">
    <div class="column">
        <h1 style="text-align: center">Login</h1>
        <div style="width: 60%; margin: 0 auto 0 auto">
            <form class="ui form segment formPadding" action="/login" method="POST">
                <div class="field">
                    <label>Username</label>
                    <input type="text" name="username" placeholder="Username">
                </div>
                <div class="field">
                    <label>Password</label>
                    <input type="password" name="password" placeholder="Password">
                </div>
                <div class="field">
                    <button class="ui teal basic button" type="submit">Login</button>
                </div>
                <div class="ui error message"></div>
            </form>
        </div>
    </div>
</div>
    

<%- include ('partials/footer') %>