.space {
    margin-top: 2em;
}

.parContent {
    font-size: 1.1rem;
    /* color: green; */
}

#jumbotron {
    padding: 5em;
}

.ui.navbar {
    margin-top: 20px !important;
}

.ui.vertical.menu{
	margin-top: -15px !important;
	width: 100%;
	display: none;
}

#delete {
    display: inline;
}

div [class*="left floated"] {
    float: left;
    margin-left: 0.25em;
}
  
div [class*="right floated"] {
    float: right;
    margin-right: 0.25em;
}

#realImage {
    display: none;
}

/* .formPadding { */
    /* padding: 2em; */
/* } */